#community {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.card {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  box-sizing: border-box;
  text-align: center;
}

.card:hover{
  box-shadow: 0px 0px 20px 0px #00000026;

}

.card img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 10px;
  max-width: 8rem;
}

.card h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 17.5px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #464547;
}

.card p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: #666666;
}

h1{
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  text-align: center;
  color: #464547;
}

#community-text{
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  color: #666666;

}

#btn-container{
  margin: auto;
  width: 80%;
  align-self: start;
  display: flex;
  flex-direction: row-reverse;
}

button{
  padding: 1rem;
  color: red;
  border-color: red;
  background-color: white;
}

.joinSection{
  background-image: url(photo.png);
  background-size: cover;
  height: 400px;
  background-position: center;
  display: flex;
  justify-content: center;
}

.content-conatiner{
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
}

.app-input__field{
  background: #FFFFFF26;
  border: 0;
  padding: 9px;
  width: 17rem;
  color: white;
}

input::placeholder {
  color: white;
}
.app-section__button, .app-section__button--submit, .app-section__button--unsubscribe{
  width: 111px;
  height: 36px;
  gap: 0px;
  border-radius: 18px;
  opacity: 0px;
  font-family: "Oswald",sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.1em;
  text-align: center;
  background-color: #55C2D8;
  color: white;
  border: #55C2D8;
  padding: 0;
}
.app-title--join-us{
  font-family: "Oswald", sans-serif;
  font-size: 35px;
  font-weight: 700;
  line-height: 64px;
  margin: 1rem 0;
  text-align: center;
  color: white;  
}

.app-subtitle--join-us{
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  color: white;

}

@media screen and (max-width: 480px) {
  #community {
    display: flex;
    flex-direction: column;
  }
  .card{
    width: 100%;
    text-align: center;
  }
  .card img{
    max-width: 7rem;
  }
}